// CHAMADA
.chamada {
  padding: 2rem 0;
  .itens {
    display: flex;
    @include desktop {
      flex-wrap: wrap;
    }
    .item {
      padding: 8rem 4rem;
      text-align: center;
      width: 33.33%;
      color: #fff;
      @include desktop {
        width: 100%;
      }
      @include celular {
        padding: 4rem 2rem;
      }
      &:first-child {
        background: url('../imgs/chamada1.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:nth-child(2) {
        background: url('../imgs/chamada2.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }
      &:nth-child(3) {
        background: url('../imgs/chamada3.jpg');
        background-size: cover;
        background-repeat: no-repeat;
      }

      .titulo {
        margin: 0 auto 1rem auto;
        width: 60%;
        color: #fff;
        line-height: 100%;
        @include celular {
          width: 80%;
        }
      }
      .texto {
        color: #fff;
        font-size: 0.98rem;
      }
    }
  }
}
