* {
  &::selection {
    background: $cor-principal;
    color: #fff;
  }
  img {
    &::selection {
      background: transparent;
    }
  }
}
html {
  @include celular {
    overflow-x: hidden;
  }
  ::-webkit-scrollbar-track {
    background-color: #fff;
  }
  ::-webkit-scrollbar {
    width: 4px;
  }
  ::-webkit-scrollbar-thumb {
    background: $cor-principal;
  }
}
body {
  overflow-x: hidden;
  font-family: 'Montserrat', sans-serif;
}
a {
  text-decoration: none !important;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  @include celular {
    font-size: 0.9rem;
  }
}

.titulo {
  font-size: 1.4rem;
  text-transform: uppercase;
  font-weight: 600;
  @include celular {
    font-size: 1.2rem;
  }
}

.botao {
  cursor: pointer;
  transition: 0.2s;
  outline: 0 !important;
  text-transform: uppercase;
  border: none;
  font-size: 1rem;
  padding: 14px 36px;
  font-weight: 600;
  // border: 4px solid #eaeaea;
  @include tablet {
    font-size: 0.85em;
  }
  @include celular {
    font-size: 0.6em;
    margin: 0.2rem auto !important;
    width: 200px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.botao-principal {
  background: $cor-secundaria;
  color: #fff;
  box-shadow: -2px 2px 4px 0px $cor-secundaria;
  @include celular {
    box-shadow: none;
  }
  &:hover {
    color: #fff;
    box-shadow: 0px 0px 0px 0px $cor-secundaria;
    transform: scale(0.99);
  }
  &:active {
    transform: scale(0.96);
  }
}

.botao-secundario {
  background: $cor-principal;
  color: #fff;
  box-shadow: -2px 2px 4px 0px $cor-principal;
  @include celular {
    box-shadow: none;
  }
  &:hover {
    color: #fff;
    box-shadow: 0px 0px 0px 0px $cor-principal;
    transform: scale(0.99);
  }
  &:active {
    transform: scale(0.96);
  }
}

input,
textarea {
  height: 40px;
  padding: 0 15px;
  color: grey;
  border: none;
  outline: 0 !important;
  transition: 0.4s;
  border: 1px solid grey;
  @include tablet{
    width: 100%;
  }
}
textarea {
  height: 220px;
  padding-top: 12px;
}
p {
  margin-bottom: 0;
}

.jazzz {
  // background-color: $cor-principal;
  text-align: center;
  padding: 2rem 0;
  img {
    width: 50px;
  }
}

// DIVISOR
.divisor {
  width: 100%;
  height: 5px;
  background: linear-gradient(
    to right,
    $cor-principal 20%,
    $cor-secundaria 20%,
    $cor-secundaria 80%,
    $cor-principal 80%
  );
}

// LINKS ATIVOS DO MENU
.ativo {
  border-top: 2px solid $cor-principal;
  padding: 0.3rem 0;
  border-bottom: 2px solid $cor-secundaria;
}
