// HEADER
.header {
  // CABECALHO
  .cabecalho {
    padding: 2rem;
    position: relative;
    @include celular {
      padding: 1rem;
    }
    .itens {
      display: flex;
      justify-content: space-between;
      align-items: center;
      // LOGO
      .logo {
        img {
          width: 160px;
          @include tablet {
            width: 140px;
          }
          @include celular {
            width: 120px;
          }
        }
      }
      // MENU
      .menu {
        @include tablet {
          display: none;
        }
        .link {
          color: $cor-principal;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 800;
          margin: 0 0 0 1.4rem;
          &:first-child {
            margin: 0;
          }
        }
      }
      // REDES SOCIAIS
      .redes-sociais {
        display: flex;
        align-items: center;
        @include tablet {
          display: none;
        }
        a {
          img {
            width: 28px;
            margin: 0 0 0 1.4rem;
            @include celular {
              width: 24px;
              margin: 0 0 0 0.7rem;
            }
          }
          &:first-child {
            img {
              margin: 0;
              width: 32px;
              @include celular {
                width: 26px;
              }
            }
          }
          &:nth-child(4) {
            img {
              width: 36px;
              @include celular {
                width: 26px;
              }
            }
          }
        }
      }
      // MENU MOBILE
      .menu-mobile {
        display: none;
        @include tablet {
          display: inherit;
        }
        .props {
          z-index: 9999999;
          position: relative;
          // background: white;
          // padding: 0.8rem 0.75rem;
          // border-radius: 100%;
          // position: fixed;
          // right: 30px;
          // top: 80px;
          .prop1,
          .prop2,
          .prop3 {
            background: $cor-principal;
            height: 3px;
            width: 28px;
            position: absolute;
            left: -30px;
            transition: 0.2s;
          }
          .prop1 {
            background: linear-gradient(
              to right,
              $cor-principal 80%,
              $cor-secundaria 80%
            );
            top: -7px;
          }
          .prop3 {
            background: linear-gradient(
              to right,
              $cor-secundaria 20%,
              $cor-principal 20%
            );
            top: 7px;
          }
          // ANIMA
          .anima-prop1 {
            transform: rotate(45deg);
            top: 0;
          }
          .anima-prop2 {
            opacity: 0;
          }
          .anima-prop3 {
            transform: rotate(-45deg);
            top: 0;
          }
        }
        .layer {
          width: 0px;
          overflow: hidden;
          transition: 0.6s;
          position: fixed;
          left: 0px;
          top: 0px;
          background: #fff;
          height: 100vh;
          z-index: 999999;
        }
        .menu {
          display: flex;
          flex-direction: column;
          transition: 2s;
          opacity: 0;
          .link {
            margin: 0.2rem 0;
            font-size: 2rem;
            width: max-content;
            transition: 0.4s;
            @include celular {
              font-size: 1.6rem;
            }
          }
        }
        .redes-sociais {
          display: inherit;
          width: max-content;
          margin: 2rem 0;
          transition: 2s;
          opacity: 0;
        }
        // ATIVA LAYER
        .ativa {
          width: 100%;
          padding: 6rem 4rem;
          @include celular {
            padding: 4.4rem 1rem;
          }
        }
        // VISIVEL
        .visivel {
          opacity: 1;
        }
      }
    }
  }
  // BANNER
  .banner {
    .carousel-item {
      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
        @include celular {
          height: 420px;
        }
      }
      .carousel-caption {
        bottom: 16%;
        @include celular {
          bottom: 14%;
        }
        .titulo {
          font-size: 3vw;
          width: 94%;
          letter-spacing: 2px;
          margin: 0 auto 1rem auto;
          @include tablet {
            font-size: 2.8vw;
          }
          @include celular {
            font-size: 0.9rem;
          }
        }
        .texto {
          width: 88%;
          margin: auto;
          font-size: 1.1rem;
          @include tablet {
            font-size: 0.9rem;
          }
          @include celular {
            display: none;
          }
        }
        .area-botao {
          margin: 4rem 0 0 0;
          .botao {
            margin: 0 1rem;
          }
        }
      }
    }
  }
}
