// PAGE APADRINHAMENTO
.page-apadrinhamento {
  .apadrinhamento {
    .faixa {
      padding: 6rem 2rem;
      background: url('../imgs/apadrinhamento-faixa.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 60%;
      background-attachment: fixed;
      @include celular {
        padding: 4rem 2rem;
        background-position: center center;
        background-attachment: inherit;
      }
      .titulo-faixa {
        font-size: 4rem;
        width: 70%;
        font-weight: 800;
        color: #f9f9f9;
        line-height: 90%;
        @include tablet {
          font-size: 3rem;
        }
        @include celular {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    .conteudo {
      padding: 3rem 2rem;
      @include celular {
        padding: 3rem 1rem;
      }
      .titulo {
        letter-spacing: 0;
        color: $cor-secundaria;
        font-size: 1.2rem;
        margin: 0 0 2rem 0;
      }
      .texto {
        width: 50%;
        margin: 1rem 0 0 0;
        color: #8a8a8a;
        @include tablet {
          width: 80%;
        }
        @include celular {
          width: 100%;
        }
      }
      .formulario {
        width: 50%;
        @include tablet {
          width: 100%;
          margin: 2rem 0 0 0;
        }
        form {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          input {
            width: 48%;
            margin: 2rem 0 0 0;
            font-size: 0.9rem;
            @include celular {
              width: 100%;
              margin: 1rem 0 0 0;
            }
          }
        }
        .area-botao {
          margin: 3rem 0 0 0;
          .botao {
            padding: 10px 36px;
            font-size: 0.8rem;
            letter-spacing: 1px;
          }
        }
      }
    }
  }
}
