// PAGE GALERIA
.page-galeria {
  .galeria {
    .faixa {
      padding: 6rem 2rem;
      background: url('../imgs/noticias-faixa.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 60%;
      background-attachment: fixed;
      @include celular {
        padding: 4rem 2rem;
        background-position: center center;
        background-attachment: inherit;
      }
      .titulo-faixa {
        font-size: 4rem;
        width: 70%;
        font-weight: 800;
        color: #f9f9f9;
        line-height: 90%;
        @include tablet {
          font-size: 3rem;
        }
        @include celular {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    .conteudo {
      padding: 1rem 2rem 2rem 2rem;
      .itens {
        display: flex;
        justify-content: space-between;
        @include tablet {
          flex-direction: column;
        }
        .item {
          width: 49%;
          margin: 2rem 0 0 0;
          @include tablet {
            width: 100%;
          }
          a {
            color: #000;
          }
          .imagem-item {
            height: 320px;
            overflow: hidden;
            img {
              width: 100%;
              height: 320px;
              object-fit: cover;
              transition: 1s;
              transform: scale(1.1);
            }
          }
          .titulo-item {
            .titulo {
              margin: 0.4rem 0 0 0;
              color: $cor-principal;
            }
          }
          &:hover {
            .imagem-item {
              img {
                transform: scale(1);
              }
            }
          }
        }
      }
    }
  }
}
