// PAGE VOLUNTARIOS
.page-voluntarios {
  .voluntarios {
    .faixa {
      padding: 6rem 2rem;
      background: url('../imgs/voluntarios.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 130%;
      background-attachment: fixed;
      @include celular {
        padding: 4rem 2rem;
        background-position: center center;
        background-attachment: inherit;
      }
      .titulo-faixa {
        font-size: 4rem;
        width: 70%;
        font-weight: 800;
        color: #f9f9f9;
        line-height: 90%;
        @include tablet {
          font-size: 3rem;
        }
        @include celular {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    // CONTEUDO
    .conteudo {
      padding: 4rem 2rem;
      @include celular {
        padding: 4rem 1rem;
      }
      .texto {
        text-align: center;
        color: #545454;
        @include tablet {
          width: 80%;
        }
        @include celular {
          width: 100%;
        }
      }
      // EQUIPES
      .equipes {
        .titulo {
          color: $cor-secundaria;
          font-size: 1.2rem;
          margin: 0 0 2rem 0;
          text-align: center;
        }
        .itens {
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          margin: 2rem 0 0 0;
          padding: 0 1rem;
          .item {
            width: 24%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-start;
            text-align: center;
            padding: 2rem 1rem 1.5rem 1rem;
            box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.51);
            margin: 1rem 0 0 0;
            @include tablet {
              width: 48%;
            }
            @include celular {
              width: 100%;
            }
            img {
              width: 120px;
              height: 34px;
              object-fit: contain;
            }
            h4 {
              font-weight: bold;
              font-size: 1.2rem;
              margin: 1rem 0;
              color: #8b2980;
            }
            p {
              font-weight: 200;
              font-size: 0.9rem;
            }
            .area-botao {
              margin: 2rem 0 0 0;
              .botao {
                box-shadow: none;
                background: #fff;
                border: 1px solid $cor-principal;
                color: $cor-principal;
                padding: 12px 18px;
                font-size: 0.85rem;
                letter-spacing: 1px;
                &:hover {
                  background: $cor-principal;
                  color: #fff;
                }
              }
            }
            .info-doacao {
              margin: 1rem 0 0 0;
              span {
                font-weight: 800;
                color: #5b5b5b;
              }
            }
          }
        }
      }
      //form voluntário
      .form-voluntario {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      // ATIVIDADES
      .atividades {
        margin: 2rem 0 0 0;
        .titulo {
          color: $cor-secundaria;
          font-size: 1.2rem;
          margin: 6rem 0 2rem 0;
          text-align: center;
        }
        // CARDS
        .wrapper {
          width: 100%;
        }
        .cols {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -ms-flex-wrap: wrap;
          flex-wrap: wrap;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          @include celular {
            flex-direction: column;
            height: 720px;
          }
        }
        .col {
          cursor: pointer;
        }
        .container {
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
          -webkit-perspective: 1000px;
          perspective: 1000px;
          padding: 0;
        }
        .front,
        .back {
          background-size: cover;
          box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.25);
          background-position: center;
          -webkit-transition: -webkit-transform 0.7s
            cubic-bezier(0.4, 0.2, 0.2, 1);
          transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
            -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
          text-align: center;
          min-height: 220px;
          height: auto;
          color: #fff;
          font-size: 1.5rem;
        }
        .back {
          background: #cedce7;
          background: linear-gradient(45deg, $cor-principal 0%, #596a72 100%);
        }
        .front:after {
          position: absolute;
          top: 0;
          left: 0;
          z-index: 1;
          width: 100%;
          height: 100%;
          content: '';
          display: block;
          opacity: 0.6;
          background-color: #000;
          -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
        }
        .container:hover .front,
        .container:hover .back {
          -webkit-transition: -webkit-transform 0.7s
            cubic-bezier(0.4, 0.2, 0.2, 1);
          transition: -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          -o-transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
          transition: transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1),
            -webkit-transform 0.7s cubic-bezier(0.4, 0.2, 0.2, 1);
        }
        .back {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          p {
            line-height: 120%;
            font-size: 1.4rem;
          }
        }
        .inner {
          -webkit-transform: translateY(-50%) translateZ(60px) scale(0.94);
          transform: translateY(-50%) translateZ(60px) scale(0.94);
          top: 50%;
          position: absolute;
          left: 0;
          width: 100%;
          padding: 2rem;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          outline: 1px solid transparent;
          -webkit-perspective: inherit;
          perspective: inherit;
          z-index: 2;
        }
        .container .back {
          -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }
        .container .front {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }
        .container:hover .back {
          -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }
        .container:hover .front {
          -webkit-transform: rotateY(-180deg);
          transform: rotateY(-180deg);
          -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
        }
        .front .inner p {
          font-size: 1.8rem;
          margin-bottom: 2rem;
          position: relative;
          width: 80%;
          margin: auto;
          font-weight: 800;
          line-height: 100%;
          @include tablet {
            font-size: 1.2rem;
            width: 100%;
          }
        }
        .front .inner p:after {
          content: '';
          width: 4rem;
          height: 2px;
          position: absolute;
          background: linear-gradient(
            to right,
            $cor-principal 20%,
            $cor-secundaria 20%,
            $cor-secundaria 80%,
            $cor-principal 80%
          );
          display: block;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: -0.75rem;
        }
        .front .inner span {
          color: rgba(255, 255, 255, 0.7);
          font-family: 'Montserrat';
          font-weight: 300;
        }
        @media screen and (max-width: 64rem) {
          .col {
            width: calc(33.333333% - 2rem);
          }
        }
        @media screen and (max-width: 48rem) {
          .col {
            width: calc(50% - 2rem);
          }
        }
        @media screen and (max-width: 32rem) {
          .col {
            width: 100%;
            margin: 0 0 2rem 0;
          }
        }
      }
    }
  }
}
