// PAGE TRANSPARENCIA
.page-transparencia {
  .transparencia {
    .faixa {
      padding: 6rem 2rem;
      background: url('../imgs/transparencia-faixa.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 50%;
      background-attachment: fixed;
      @include celular {
        padding: 4rem 2rem;
        background-position: center center;
        background-attachment: inherit;
      }
      .titulo-faixa {
        font-size: 4rem;
        width: 70%;
        font-weight: 800;
        color: #f9f9f9;
        line-height: 90%;
        @include tablet {
          font-size: 3rem;
        }
        @include celular {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    .conteudo {
      padding: 3rem 2rem;
      @include celular {
        padding: 3rem 1rem;
      }
      .titulo {
        letter-spacing: 0;
        text-transform: inherit;
        text-align: center;
      }
      .texto {
        margin: 1rem 0 0 0;
        color: #545454;
        text-align: center;

        @include tablet {
          width: 80%;
        }
        @include celular {
          width: 100%;
        }
      }
      .itens {
        display: flex;
        justify-content: space-between;
        padding: 0 4rem;
        flex-wrap: wrap;
        @include tablet {
          padding: 0;
        }
        .item {
          width: 45%;
          margin: 2rem 0 0 0;
          justify-content: flex-start;
          text-align: center;
          padding: 2rem 1rem 2.4rem 1rem;
          box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.5);
          @include tablet {
            width: 48%;
          }
          @include celular {
            width: 100%;
          }
          .linha {
            width: 100%;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            flex-direction: column;
          }
          .titulo {
            margin-bottom: 1rem;
            text-transform: uppercase;
            font-size: 1rem;
            color: $cor-secundaria;
            font-size: 1rem;
          }
          .texto {
            margin: 0.4rem auto 0 auto;
            font-size: 0.9rem;
            font-style: italic;
            @include celular {
              width: 100%;
            }
          }
        }
      }
    }
    // PRESTACAO DE CONTAS POR ANO
    .prestacao-ano {
      padding: 4rem 6rem;
      .titulo {
        margin: 0 0 2rem 0;
        color: #62a136;
        letter-spacing: 1px;
      }
      .accordion {
        .accordion-item {
          .accordion-header {
            .accordion-button {
              border: none;
              box-shadow: none;
              margin-bottom: 1rem;
              text-transform: uppercase;
              font-size: 1.2rem;
              color: #62a136;
              font-weight: 800;
              &::after {
                filter: brightness(0);
              }
            }
          }
          .accordion-collapse {
            border-bottom: none;
          }
          .accordion-body {
            display: flex;
            justify-content: space-between;
            padding: 2rem 1.25rem;
            a {
              color: #8b2980;
              font-weight: 600;
            }
          }
        }
      }
    }
  }
}
