// PAGE CONTATO
.page-contato {
  .contato {
    .faixa {
      padding: 6rem 2rem;
      background: url('../imgs/contato-faixa.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 60%;
      background-attachment: fixed;
      @include celular {
        padding: 4rem 2rem;
        background-position: center center;
        background-attachment: inherit;
      }
      .titulo-faixa {
        font-size: 4rem;
        width: 70%;
        font-weight: 800;
        color: #f9f9f9;
        line-height: 90%;
        @include tablet {
          font-size: 3rem;
        }
        @include celular {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    .linha {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      padding: 2rem;
      @include tablet {
        flex-direction: column;
      }
      @include celular {
        padding: 1rem;
      }
      .info {
        margin: 2rem 0 0 0;
        width: 50%;
        @include tablet {
          width: 100%;
        }
        div {
          margin: 2rem 0;
          a,
          span,
          .texto {
            font-size: 1rem;
            color: #8b2980;
          }
        }
        .email {
          display: flex;
          flex-direction: column;
          span {
            color: #62a136;
            letter-spacing: 1px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: 800;
          }
          a {
            color: $cor-principal;
          }
        }
        .responsaveis {
          .titulo {
            margin: 2rem 0 0.6rem 0;
            color: #62a136;
            letter-spacing: 1px;
            font-size: 1rem;
          }
          a {
            color: #8b2980;
          }
          .linha {
            display: flex;
            justify-content: space-between;
            padding: 0 8rem 0 0;
            margin: 1rem 0 0 0;
            div {
              margin: 0;
            }
          }
        }
      }
      .formulario {
        width: 50%;
        @include tablet {
          width: 100%;
          margin: 2rem 0 0 0;
        }
        .texto {
          color: #8a8a8a;
          margin-bottom: 2rem;
        }
        .form-contato {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          @include celular {
            margin: 1rem 0 0 0;
          }
          input {
            width: 48%;
            margin: 1rem 0 0 0;
            font-size: 0.9rem;
            @include celular {
              width: 100%;
              margin: 1rem 0 0 0;
            }
          }
          textarea {
            width: 100%;
            margin-top: 1rem;
          }
        }
        .area-botao {
          margin: 3rem 0 0 0;
          .botao {
            padding: 10px 36px;
            font-size: 0.8rem;
            letter-spacing: 1px;
          }
        }
      }
    }
    .mapa {
      margin: 4rem 0 0 0;
      height: 400px;
      iframe {
        height: 400px;
      }
    }
  }
}
