// PAGE QUEM SOMOS
.page-quem-somos {
  .quem-somos {
    .faixa {
      padding: 6rem 2rem;
      background: url('../imgs/banner.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center -220px;
      background-attachment: fixed;
      @include celular {
        padding: 4rem 2rem;
        background-position: center center;
        background-attachment: inherit;
      }
      .titulo-faixa {
        font-size: 4rem;
        width: 70%;
        font-weight: 800;
        color: #f9f9f9;
        line-height: 90%;
        @include tablet {
          font-size: 3rem;
        }
        @include celular {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    // CONTEUDO
    .conteudo {
      padding: 2rem;
      @include celular {
        padding: 4rem 1rem;
      }
      .imagem-destaque {
        margin: 2rem 0 2rem 2rem;
        width: 50%;
        @include tablet{
          width: 100%;
        }
        @include celular {
          float: inherit;
          margin: 0;
          
        }
        img {
          width: 100%;
          height: 440px;
          object-fit: cover;
          @include celular {
            width: 100%;
            height: 260px;
          }
        }
      }
      .texto-destaque {
        width: 50%;
        @include tablet{
          width: 100%;
        }
        @include celular {
          margin: 2rem 0 0 0;
          
        }
        .titulo-area {
          font-size: 1rem;
          color: $cor-secundaria;
          margin: 2rem 0 0.6rem 0;
          font-weight: 800;
          text-transform: uppercase;
        }
        p {
          text-align: justify;
          margin-bottom: .5rem;
        }
      }
      .mais-imagens {
        margin: 4rem 0 0 0;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        @include tablet{
          flex-direction: column;
        }
        img {
          width: 49%;
          height: 320px;
          object-fit: cover;
          @include tablet{
            width: 100%;
            &:nth-child(2) {
              margin-top: 2rem;
            }
          }
          @include celular {
            width: 48%;
            height: 220px;
          }
        }
      }
    }
  }
  .cont-quem-somos{
    display: flex;
    flex-direction: row-reverse;
    @include tablet{
      flex-direction: column-reverse;
    }
  }
}
