// PAGE DOACAO
.page-doacao {
  .doacao {
    .faixa {
      padding: 6rem 2rem;
      background: url('../imgs/faixa-doacao.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center 100%;
      background-attachment: fixed;
      @include celular {
        padding: 4rem 2rem;
        background-position: center center;
        background-attachment: inherit;
      }
      .titulo-faixa {
        font-size: 4rem;
        width: 70%;
        font-weight: 800;
        color: #f9f9f9;
        line-height: 90%;
        @include tablet {
          font-size: 3rem;
        }
        @include celular {
          font-size: 2rem;
          width: 80%;
        }
      }
    }
    // CONTEUDO
    .conteudo {
      padding: 4rem 2rem;
      position: relative;
      @include celular {
        padding: 4rem 1rem;
      }
      .titulo {
        letter-spacing: 0;
        color: $cor-secundaria;
        font-size: 1.2rem;
        margin: 0 0 2rem 0;
        text-align: center;
      }
      .texto {
        text-align: center;
        margin: 1rem 0 0 0;
        color: #545454;
        @include tablet {
          width: 80%;
        }
        @include celular {
          width: 100%;
        }
      }
      .itens {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .item {
          width: 28%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          text-align: center;
          padding: 2rem 1rem 2.4rem 1rem;
          box-shadow: 0px 5px 15px -5px rgba(0, 0, 0, 0.51);
          margin: 4rem 0 0 0;
          @include desktop {
            width: 48%;
          }
          @include tablet {
            width: 48%;
          }
          @include celular {
            width: 100%;
          }
          .img-titulo{
            width: 120px;
            height: 34px;
            object-fit: contain;
          }
          h4 {
            font-weight: bold;
            font-size: 1.2rem;
            margin: 1rem 0;
            color: #5b5b5b;
          }
          p {
            font-weight: 200;
            font-size: 0.9rem;
          }
          .area-botao {
            margin: 2rem 0 0 0;
            .botao {
              box-shadow: none;
              background: #fff;
              border: 1px solid $cor-principal;
              color: $cor-principal;
              padding: 12px 18px;
              font-size: 0.8rem;
              white-space: pre;
              display: block;
              &:hover {
                background: $cor-principal;
                color: #fff;
              }
              @include celular {
                font-size: 0.6rem;
                letter-spacing: 0;
              }
            }
          }
          .info-doacao {
            margin: 1rem 0 0 0;
            span {
              font-weight: 800;
              color: #5b5b5b;
            }
          }
        }
      }
    }
  }

}

.qr-code{
  width: 150px!important;
  height: 150px!important;
  margin-top: 1.5rem;
}