// PREVIA GALERIA DE FOTOS
.previa-galeria {
  padding: 4rem 2rem 2rem 2rem;
  position: relative;
  @include celular {
    padding: 4rem 1rem 2rem 1rem;
  }
  .linha {
    display: flex;
    justify-content: space-between;
    margin: 0 0 0 0.4rem;
    .titulo {
      color: $cor-principal;
    }
    a {
      color: $cor-principal;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid $cor-principal;
      line-height: 25px;
      font-size: 0.8rem;
      @include celular {
        font-size: 0.5rem;
        border: none;
      }
    }
  }

  .itens {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
    .item {
      width: 49%;
      margin: 2rem 0 0 0;
      @include tablet {
        width: 100%;
      }
      a {
        color: #000;
      }
      .imagem-item {
        height: 320px;
        overflow: hidden;
        img {
          width: 100%;
          height: 320px;
          object-fit: cover;
          transition: 1s;
          transform: scale(1.1);
        }
      }
      .titulo-item {
        .titulo {
          margin: 0.4rem 0 0 0;
          color: $cor-principal;
        }
      }
      &:hover {
        .imagem-item {
          img {
            transform: scale(1);
          }
        }
      }
    }
  }

  // #accordionGaleria {
  //   .accordion-header {
  //     .accordion-button {
  //       font-weight: 800;
  //       color: #8b2980;
  //       font-size: 1.2rem;
  //       box-shadow: none;
  //       border: none;
  //       &:not(.collapsed) {
  //         background-color: #f6f6f6;
  //       }
  //       &::after {
  //         filter: brightness(0);
  //       }
  //     }
  //   }
  //   .accordion-collapse {
  //     border-bottom: none;
  //   }
  //   .accordion-body {
  //     padding: 1rem 0 0 0;
  //   }
  // }
  // // GALERIA
  // .rl-gallery-item {
  //   width: calc(33% - -2px);
  //   border: 10px solid #fff;
  //   border-top: none;
  //   border-bottom: 20px solid #fff;
  //   @include celular {
  //     border: none;
  //     border-bottom: 20px solid #fff;
  //   }
  //   img {
  //     width: 100%;
  //     height: 300px;
  //     object-fit: cover;
  //   }
  // }
  // .rl-pagination {
  //   position: absolute;
  //   right: 44px;
  //   top: 70px;
  //   @include tablet {
  //     top: auto;
  //     bottom: 0;
  //     right: 35px;
  //   }
  //   @include celular {
  //     right: 15px;
  //     top: auto;
  //     bottom: 0;
  //   }
  //   .page-numbers {
  //     color: $cor-principal;
  //     font-weight: bold;
  //     margin: 0 0.2rem;
  //     font-size: 0.9rem;
  //   }
  //   .current {
  //     color: $cor-principal;
  //     border-bottom: 2px solid $cor-principal;
  //   }
  // }
}
