// PREVIA NOTICIAS
.previa-noticias {
  padding: 4rem 2rem;
  @include celular {
    padding: 4rem 1rem;
  }
  .linha {
    display: flex;
    justify-content: space-between;
    .titulo {
      color: $cor-principal;
    }
    a {
      color: $cor-principal;
      font-weight: 600;
      text-transform: uppercase;
      border-bottom: 1px solid $cor-principal;
      line-height: 25px;
      font-size: 0.8rem;
      @include celular {
        font-size: 0.5rem;
        border: none;
      }
    }
  }
  .itens {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
    .item {
      width: 49%;
      margin: 2rem 0 0 0;
      @include tablet {
        width: 100%;
      }
      a {
        color: #000;
      }
      .imagem-item {
        height: 320px;
        overflow: hidden;
        img {
          width: 100%;
          height: 320px;
          object-fit: cover;
          transition: 1s;
          transform: scale(1.1);
        }
      }
      .data {
        margin: 0.4rem 0 0 0;
        span {
          font-size: 0.7rem;
          color: #adadad;
          text-transform: uppercase;
        }
      }
      .titulo-item {
        .titulo {
          margin: 0.4rem 0 0 0;
          color: $cor-principal;
        }
      }
      &:hover {
        .imagem-item {
          img {
            transform: scale(1);
          }
        }
      }
    }
  }
}
