// PREVIA QUEM SOMOS
.previa-quem-somos {
  padding: 4rem 0 4rem 2rem;
  @include tablet {
    padding: 4rem 2rem;
  }
  @include celular {
    padding: 4rem 1rem;
  }
  .linha {
    display: flex;
    justify-content: space-between;
    @include tablet {
      flex-direction: column;
    }
    .area-texto {
      width: 49%;
      @include tablet {
        width: 100%;
      }
      .titulo {
        color: $cor-principal;
        font-size: 1.8rem;
      }
      .texto {
        margin: 2em 0 0 0;
        text-align: justify;
        font-size: 0.9rem;
        line-height: 180%;
      }
    }
    .area-imagem {
      width: 49%;
      @include tablet {
        width: 100%;
        margin: 2rem 0 0 0;
      }
      img {
        width: 100%;
      }
    }
  }
  .area-botao {
    width: max-content;
    margin: 3rem auto auto auto;
    @include celular {
      width: 100%;
      text-align: center;
    }
    .botao {
      margin: 0 1rem;
    }
  }
}
