$celular-menor: 320px;
$celular: 480px;
$tablet: 768px;
$desktop: 1024px;
$desktop-maior: 1440px;

/* MIXINS RESPONSIVO */
@mixin celular-menor {
    @media only screen and (max-width: $celular-menor) {
        @content;
    }
}
@mixin celular {
    @media only screen and (max-width: $celular) {
        @content;
    }
}
@mixin tablet {
    @media only screen and  (max-width: $tablet) {
        @content;
    }
}
@mixin desktop {
    @media only screen and (max-width: $desktop) {
        @content;
    } 
}
@mixin desktop-maior {
    @media only screen and (max-width: $desktop-maior) {
        @content;
    } 
}