// RODAPE
.rodape {
  padding: 0 0 2rem 0;
  position: relative;
  // WHATSAPP
  .whatsapp-fixo {
    position: fixed;
    right: 25px;
    bottom: 4%;
    a {
      img {
        width: 54px;
        transition: 0.2s;
        &:hover {
          transform: scale(0.95);
        }
      }
    }
  }
  // NAVEGACAO
  .navegacao {
    padding: 2rem;
    .itens {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      // LOGO
      .logo {
        img {
          width: 160px;
          @include tablet {
            width: 140px;
          }
          @include celular {
            width: 120px;
          }
        }
      }
      // MENU
      .menu {
        border-bottom: 1px solid #e4e4e4;
        padding: 0 0 2rem 0;
        @include tablet {
          display: none;
        }
        .link-rodape {
          color: $cor-principal;
          text-transform: uppercase;
          font-size: 0.8rem;
          font-weight: 800;
          margin: 0 0 0 1.4rem;
          &:first-child {
            margin: 0;
          }
        }
      }
      // REDES SOCIAIS
      .redes-sociais {
        display: flex;
        align-items: center;
        a {
          img {
            width: 28px;
            margin: 0 0 0 1.4rem;
            @include celular {
              width: 20px;
              margin: 0 0 0 0.6rem;
            }
          }
          &:first-child {
            img {
              margin: 0;
              width: 32px;
              @include celular {
                width: 22px;
              }
            }
          }
          &:nth-child(4) {
            img {
              width: 36px;
              @include celular {
                width: 26px;
              }
            }
          }
        }
      }
    }
  }
  // INFO
  .info {
    padding: 0 2rem;
    text-align: center;
    .texto {
      font-size: 0.7rem;
      color: $cor-principal;
      font-weight: 600;
    }
    .linha {
      display: flex;
      width: max-content;
      margin: auto;
      @include celular {
        flex-direction: column;
      }
      div {
        margin: 0 1rem;
      }
    }
  }
}
