// SINGLE NOTICIA
.single-noticia {
  .noticia {
    .imagem-noticia {
      img {
        width: 100%;
        height: 440px;
        object-fit: cover;
        @include tablet {
          height: 280px;
        }
      }
    }
    .info {
      padding: 6rem 10rem;
      @include tablet {
        padding: 5rem 4rem;
      }
      @include celular {
        padding: 4rem 1rem;
      }
      .mais-info {
        .data {
          font-size: 0.7rem;
          color: #adadad;
          text-transform: uppercase;
          @include celular {
            font-size: 0.6rem;
          }
        }
      }
      .titulo-noticia {
        .titulo {
          color: $cor-principal;
          font-size: 1.6rem;
          letter-spacing: 1px;
          @include celular {
            font-size: 1.4rem;
          }
        }
      }
      .texto-noticia {
        margin: 3rem 0 0 0;
        line-height: 180%;
        letter-spacing: 0.2px;
        .texto {
          line-height: 180%;
          letter-spacing: 0.2px;
        }
        img {
          width: 100%;
          height: 480px;
          object-fit: cover;
        }
      }
    }
  }
}
