// SINGLE GALERIA
.single-galeria {
  .galeria {
    .imagem-galeria {
      img {
        width: 100%;
        height: 440px;
        object-fit: cover;
        @include tablet {
          height: 280px;
        }
      }
    }
    .titulo-noticia {
      padding: 2rem 4rem;
      .titulo {
        color: $cor-principal;
        font-size: 1.6rem;
        letter-spacing: 1px;
        @include celular {
          font-size: 1.4rem;
        }
      }
    }
    .fotos {
      padding: 0 4rem 2rem 4rem;
      .rl-gallery-item {
        width: calc(33% - -2px);
        border: 10px solid #fff;
        border-top: none;
        border-bottom: 20px solid #fff;
        @include celular {
          border: none;
          border-bottom: 20px solid #fff;
        }
        img {
          width: 100%;
          height: 300px;
          object-fit: cover;
        }
      }
      .rl-pagination {
        position: absolute;
        right: 44px;
        top: 70px;
        @include tablet {
          top: auto;
          bottom: 0;
          right: 35px;
        }
        @include celular {
          right: 15px;
          top: auto;
          bottom: 0;
        }
        .page-numbers {
          color: $cor-principal;
          font-weight: bold;
          margin: 0 0.2rem;
          font-size: 0.9rem;
        }
        .current {
          color: $cor-principal;
          border-bottom: 2px solid $cor-principal;
        }
      }
    }
  }
}
